::-webkit-scrollbar
{
    width: 6px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #ADADAD;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive
{
	background: #C2C2C2;
}

body
 {
    font-size: .85em;
    color: #232323;
    /*background-color: #3c2f36;*/
    background-image:url(Images/Searchbox/drawer.png);
    background-repeat: repeat;

    padding:0px;
    padding-top:15px;
}

.greyout{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:Black;
    opacity:0.8;
    z-index:1;
}

.loading {
    position:absolute;
    width:128px;
    height:128px;
    top:50%;
    left:50%;
    margin-left:-64px;
    margin-top:-64px;
    background-image:url(Images/loading8.png);
    background-size:768px 640px;
    z-index:2;
}

.horizonslegalpadding {
    padding-left: 5px;
}

header, footer, nav, section {
    display: block;
}

option, select{
    color:black;
    font-family:helvetica;
    font-size:10pt;
    width:95%;
}

/*.perfectScroll{
    overflow-y:hidden;
    overflow-x:hidden;
    position: relative;
}
FONTS!COLORS!

SELECTED
slot#box:b2b0ae
slot#box Boarder:4c4b4b
file name box: ffffff

NOT
SELECTED
slot#box:525151
slot#box Boarder:212121
file name box: ccc9c5

CARD FILES
Header
FONT: Electra LH BOLD   SIZE: 5.2point

Slot numbers
FONT: Electra LH BOLD   SIZE: 8point

Slot names
FONT: Helvetica BOLD Narrow   SIZE: 5point


33PX in from the left
24px down from the top




SEARCH FITLER
Header
FONT: Electra LH BOLD   SIZE: 5.2point

filters
FONT: EurostileExtended-Roman-DTC    SIZE: 5point

ex & all
FONT: EurostileExtended-Roman-DTC    SIZE: 4.5point

filter drop boxes
FONT: Helvetica BOLD Narrow   SIZE: 5point

text searchv
FONT: EurostileExtended-Roman-DTC    SIZE: 4.5point


LIBRARY
Header
FONT: Electra LH BOLD   SIZE: 5.2point

card copies
FONT: Helvetica BOLD Narrow   SIZE: 6.5point

19PX in from the right
24px down from the top



BUILD AREA
file name
FONT: Helvetica BOLD Narrow   SIZE: 6point

stats
FONT: Helvetica BOLD Narrow   SIZE: 4.5point

soul cards
FONT: Helvetica BOLD Narrow   SIZE: 6point

LP:00
FONT: Helvetica BOLD Narrow   SIZE: 6point

EXIT
FONT: EurostileExtended-Roman-DTC    SIZE: 9point


cards start 25 PX in from the left and have 5PX inbetween each


    */

/* Styles for the whole thing
-----------------------------------------------------------*/
input{
        color:black;
        cursor:pointer;
}

label{
    cursor:pointer;
}

div.Card {
    width:79px;
    Height:110px;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url(Images/brown-card.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:inline-block;
    position:relative;
    z-index:1;
    cursor:pointer;
}


div.Title {
    height: 19px;
    line-height: 30px;
    text-align: center;
    margin:0px;
    color:#fff;
    font-family:ElectraLH-BoldDisplay;
    font-size:11.8pt;
    letter-spacing:1px
}


span.stretch {
    width: 100%;
    display: inline-block;
}

div.Editor-Top, div.Editor-Bottom {
    text-align:justify;
}

div.divider-center,div.divider-left,div.divider-right{
    background-position:center;
    height:17px;
}
div.divider-right, div.divider-left{
    background-repeat:repeat-x;
    height:14px;
    width:50%;
    margin-top:3px;
    }

div.divider-center {
    width:169px;
    background-image:url(Images/buildarea/divider-center.png);
    background-repeat:no-repeat;
}
div.divider-left {
    background-image:url(Images/buildarea/divider-left.png);
}
div.divider-right {
    background-image:url(Images/buildarea/divider-right.png);
}
div.bottombar {
    width:100%;
    height:16px;
    background-image:url(Images/buildarea/bottom-bar.png);
    background-position:center;
    background-repeat:no-repeat;
    position:absolute;
    bottom:0px;
    margin-bottom:-13px;
}


div.Library, div.Search-Filter, div.Card-Files {
display:inline-block;
vertical-align:top;

}

/* Styles for Library
-----------------------------------------------------------*/
div.Library {
    width:489px;
    height:365px;
    background-image:url(Images/Library/library-box.png);
    margin-top: 5px;
    text-align:center;
}

div.Library-Selector
{
    width:330px;
    height:23px;
    background-repeat:no-repeat;
    background-position:center;
    margin-top:-7px;
    display:inline-block;
}

div.yourcards
{
    background-image:url(Images/Library/library-selected.png);
    }
div.allcards
{
    background-image:url(Images/Library/all-cards-selected.png);
    }


div.Library-Selector div.Title {
    display:inline-block;
    width:45%;
}

div.Library-Container {
    position:relative;
    left:25px;
    top:20px;
    width:439px;
    height:300px;
    text-align:left;
}


div.Lib-Card {
    width:50px;
    height:70px;
    background-image:url(Images/cardback.png);
    display:inline-block;
    margin-left: 3px;
    line-height: 115px;
    text-align: center;
    font-weight:bold;
    font-family:ElectraLH-BoldDisplay;
    font-size: 2em;
    color: white;
    text-shadow:0px 0px 5px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.top{
    z-index:10;
    margin-right:5px
}


div.under{
    z-index:9;
    margin-left:-50px;
    padding-top:5px
}

div.under+div.under{
    z-index:8;
    padding-top:10px
}

div.under+div.under+div.under{
    z-index:7;
    padding-top:15px
}

div.under:hover{
    z-index:11;
}
div.under+div.under:hover{
    z-index:11;
}
div.under+div.under+div.under:hover{
    z-index:11;
}

div.NotInCollection::after{
    content:"";
    width:50px;
    height:70px;
    background-image:url(Images/Library/not-in-collection.png);
    position:absolute;
    left:0;
    cursor:not-allowed;

}

div.MaxCopies::after{
    content:"";
    width:50px;
    height:70px;
    background-image:url(Images/Library/max-copies.png);
    position:absolute;
    left:0;
    cursor:default;

}

div.Card-Page {
    display:inline-block;
    text-align:initial;
    white-space:initial;
    vertical-align:top;
}

/* Styles for the File list
-----------------------------------------------------------*/

.copy{
    width:15px;
    right:20px;
    background-image:url(Images/Files/copy-file-icon.png);
}
.delete{
    width:10px;
    right:5px;
    background-image:url(Images/Files/delet-file-icon.png);
}


.delete,.copy{
    display:inline;
    height:15px;
    position:absolute;
    top:6px;
    cursor:pointer;
}

.over{
    color:red;
}

.cardover::before{
    position:absolute;
    left:0;
    content:" ";
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background-color:grey;
    background-image: url(Images/blue-card.png);
    background-size:contain;
    width:100%;
    height:100%;
    opacity:0.6;

}

.File-Page {
    position: absolute;
    text-align: center;
    bottom: -25px;
    width: 100%;
}
.File-Page input
{
    margin: 0px 3px;
    border-width:2px;
}

div.Card-Files {
    padding: 0px 0px;
    margin:0px;
    width:260px;
    height:354px;
    background-repeat:no-repeat;
    background-image:url(Images/Files/file-list-box.png);
    position:relative;
}

ol.File-List {
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
    margin-top:13px;
}
ol.File-List > div {
    position:relative; /* Create a positioning context */
    margin: 6px 10px 0px 34px;
    padding-left:20px;
    list-style:none; /* Disable the normal item numbering */
    background:#ccc9c5;
    height:26px;
    line-height:26px;
    box-shadow:rgb(128, 128, 128) 3px 3px 2px inset;
}

div.File-List-Label
{
    display:list-item;
    font-family:Helvetica;
    font-size:9.5pt;
}

input[type="radio"].File-Radio+label
{
  display:block;
  margin-left:-30px;
  padding-left:20px;
}
input[type="radio"]:checked+label
{
    background-color:white;

}

ol.File-List > div:before {
    content:attr(name); /* Use the counter as content */
    /* Position and style the number */
    position:absolute;
    left:-28px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
   /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    border:2px solid #212121;
    color:#fff;
    background:#525151;
    font-weight:bold;
    font-family:ElectraLH-BoldDisplay;
    font-size:initial;
    text-align:center;
    width:28px;
    height:26px;
}

/* Styles for the File area
-----------------------------------------------------------*/

div.Editor-Bottom {
    position: relative;
    background-image:url(Images/buildarea/bottom-pattern.png);
    height:380px;
    width:100%;
}
div.iron-l, div.iron-r {
    width:332px;
    height:205px;
    position:absolute;
    bottom:0px;
}
div.iron-l{
    background-image:url(Images/buildarea/left-iron-work.png);
    left:0;
}
div.iron-r{
    background-image:url(Images/buildarea/right-iron-work.png);
    right:0;
}
div.File-Box{
    width:231px;
    height:52px;
    background-image:url(Images/buildarea/file-name-and-stat-box.png);
    vertical-align:middle;
    color:#fff;
    text-align:center;
    display:inline-block;
    padding:6px;
    font-size:13px;
    white-space: pre;
    font-family: helvetica;
    color: white;
    line-height: 155%;

}

.File-Box.left {
    margin-left:50px;
}

.File-Box.right {
    margin-right:50px;
}

.Flag-Box {
    position:absolute;
    width: 50px;
}

.Flag {
    width:36px;
    height:36px;
    margin-left:auto;
    margin-right:auto;
}

    .Flag.HorizonsCore {
        background-image:url(Images/core-icon.png);
        width:49px;
        height:29px;
    }

        .Flag.LegacyChallenge {
        background-image:url(Images/legacyc-icon.png);
        margin-left: 4.6px;
    }

        .Flag.Legacy {
        background-image:url(Images/legacy-icon.png);
        margin-left: 4.6px;
    }

    .Flag.Multi{
        background-image:url(Images/Searchbox/multi-gem.png);
        margin-left: 5px;
    }

    .Flag.Refess{
        background-image:url(Images/Searchbox/ref-gem.png);
        margin-left: 5px;
    }

    .Flag.Lawtia{
        background-image:url(Images/Searchbox/law-gem.png);
        margin-left: 5px;
    }

    .Flag.Falkow{
        background-image:url(Images/Searchbox/fal-gem.png);
        margin-left: 5px;
    }

    .Flag.Gowen{
        background-image:url(Images/Searchbox/gow-gem.png);
        margin-left: 5px;
    }


.File-Box input{
    width: 64%;
    margin-top: 3%;
    background-color:transparent;
    border:0px;
    color: white;
    text-align: center;
    font-size:16px;
    width: 200px;
}

div.bottom-top-box {
    padding:10px;
    text-align:justify;
}

div.File-Souls {
    height:70px;
    vertical-align:top;
    display:inline-block;
    width:388px;
}

div.File-Souls-cards {
    height:70px;
    display:inline-block;
    width:282px;
}


div.File-Souls-before, div.File-Souls-after
{
    white-space: pre;
    display:inline-block;
     font-family:ElectraLH-BoldDisplay;
     font-size:12pt;
     color:white;
     text-align:right;
     width:50px;
     line-height:106%
}

div.File-Souls-after{
    text-align:left;
}


div.SoulCard {
    width: 50px;
    height: 70px;
    background-image: url(Images/cardback.png);
    position: relative;
    display: inline-block;
    margin: 0px 2px;
    line-height: 70px;
    text-align: center;
    font-weight:bold;
    font-family:ElectraLH-BoldDisplay;
    font-size: 3.5em;
    color: white;
    text-shadow:0px 0px 3px black;
    vertical-align:text-bottom;
}

div.File1 {
    text-align:justify;
    width:95%;
    margin:auto;
}


div.File2 {
    text-align:justify;
    width:87%;
    margin:auto;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 15px;
    line-height: 1.4;
    min-width: 250px;
    text-align: center;
    border-radius: 4px;
    opacity: .85
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}
